<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <style media="screen">

</style>

</head>


<body class="person_bod">
  <div class="body_container">
    <img src="<%= asset_url @person.image_url %>" alt="" class="">

    <div class="box-1">
      <%= @person.note %>
      <p></p>
      What next?
      <ul>

        <li>Continue searching the <%= link_to @person.room.name, room_path(@person.room) %>?</li>
        <li>Return to the <%= link_to "Hall", rooms_path %>?</li>
        <li>Take a <%=link_to "note", new_note_url %>?</li>
      </ul>

    </div>
    <!-- <div class="box-2">
      <%= @person %>
    </div>
    <div class="box-3">
      Continue searching the <%= link_to @person.room.name, room_path(@person.room) %>
    </div> -->

  </div>
</body>
