<head>
  <style media="screen">
    body {
      background-color: black;
    }
  </style>
</head>

<body>
  <div class="body_container">
    <img src="<%= asset_url @room.image_url %>" alt="" class="chunk">
    <div class="container room_container">
      <div class="row">
        <div class="col-sm">
          <% if @room.name == "Hall" %>
          <% else %>
          <a href="http://localhost:3000/people/<%= @room.person.id %>"><img src="<%= @room.person.image_url %>" alt="" class="stuff filling"></a>
          <img src="<%= @room.weapon.image_url %>" alt="" class="stuff">
        </div>
        <% end %>
    </div>
          <div class="row">
            <div class="col-sm text_box">
            <h1><%= @room.name %></h1>
            <p><%= @room.note %></p>
            <% if @room.name == "Hall" %>
            <% else %>
            <p>Speak with <%=link_to @room.person.name, person_path(@room.person)  %></p>
            <% end %>
          <p> Return to the <%= link_to "Foyer", rooms_path(@foyer) %> </p>
          <p>Take a <%= link_to "note", new_note_url %></p>
            </div>
          </div>
    </div>
</div>

</body>
