<head>
</head>

<body>
  <div class="body_container">
    <img src="<%= asset_url @room.image_url %>" alt="" class="chunk">
    <div class="container room_container">
      <div class="row">
        <div class="col-sm">
          <img src="<%= @room.person.image_url %>" alt="" class="stuff filling">
          <img src="<%= @room.weapon.image_url %>" alt="" class="stuff">
        </div>
    </div>
          <div class="row">
            <div class="col-sm">
            <h1><%= @room.name %></h1>
            <p><%= @room.note %></p>
            </div>
          </div>
    </div>
</div>

</body>
