<!DOCTYPE html>
<html>
  <head>
    <title>Clue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- <a href="http://localhost:3000/notes" class="btn btn-info btn-lg navbar-btn">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a href="http://localhost:3000/rooms" class="btn btn-info btn-lg navbar-btn">
      <span class="glyphicon glyphicon-step-backward"></span>
    </a> -->

    <%= yield %>
  </body>
</html>
